# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Turbo (if you use it later)
.turbo/
# Vercel
.vercel/


# pnpm store (optional)
.pnpm-store/

# Next.js & Fumadocs
.next/
out/
.source/



CONTEXT.md